@keyframes popup {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.success_popup {
  background-color: rgb(0, 132, 0);
  width: 280px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  animation-name: popup;
  animation-duration: 4s;
  /* animation-delay: 0.1s; */
}
.icon {
  width: 30px;
  margin-right: 10px;
}
.text {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
